<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/home/style.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />

    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
</head>
<body>
  <header>
    <div class="mobile">
      <div class="top">
        <button
          aria-expanded="false"
          aria-label="Abrir menu"
          class="openMenu"
          onclick="menu()"
        >
          <img
            src="./assets/images/svg/header/openMenu.svg"
            alt="Ícone de abrir o menu"
          />
        </button>

        <button
          aria-expanded="true"
          aria-label="Fechar menu"
          class="closeMenu"
          onclick="menu()"
        >
          <img
            src="./assets/images/svg/header/closeMenu.svg"
            alt="Ícone de fechar o menu"
          />
        </button>

        <a href="">
          <img
            class="logo"
            src="./assets/images/logo.png"
            alt="Logo da Camel"
          />
        </a>

        <details class="user">
          <summary>
            <img
              src="./assets/images/svg/header/userIcon.svg"
              alt="userMenu"
            />
          </summary>
          <div class="userMenu">
            <ul>
              <li>
                <a href="./perfil/">
                  <img
                    src="./assets/images/svg/header/myProfile.svg"
                    alt="Ícone da opção meu perfil"
                  />
                  <span>Meu Perfil</span>
                </a>
              </li>
              <li>
                <a href="./carrinho/">
                  <img
                    src="./assets/images/svg/header/myCar.svg"
                    alt="Ícone da opção meu carrinho"
                  />
                  <span>Meu Carrinho</span>
                </a>
              </li>
              <li>
                <a href="./login/">
                  <img
                    src="./assets/images/svg/header/logout.svg"
                    alt="Ícone da opção sair da conta"
                  />
                  <span>Sair da Conta</span>
                </a>
              </li>
            </ul>
            <button><a href="./login/">Entrar</a></button>
          </div>
        </details>
      </div>

      <div class="searchBar">
        <img
          src="./assets/images/svg/header/searcherLoupe.svg"
          alt="Lupa de pesquisa"
        />
        <input type="text" placeholder="Procure na Camel" />
      </div>
    </div>

    <div class="desktop">
      <div class="top">
        <a href="">
          <img
            class="logo"
            src="./assets/images/logo.png"
            alt="Logo da Camel"
          />
        </a>

        <div class="searchBar">
          <img
            src="./assets/images/svg/header/searcherLoupe.svg"
            alt="Lupa de pesquisa"
          />
          <input type="text" placeholder="Procure na Camel" />
        </div>

        <details class="user">
          <summary>
            <img
              src="./assets/images/svg/header/userIcon.svg"
              alt="userMenu"
            />
          </summary>
          <div class="userMenu">
            <ul>
              <li>
                <a href="./perfil/">
                  <img
                    src="./assets/images/svg/header/myProfile.svg"
                    alt="Ícone da opção meu perfil"
                  />
                  <span>Meu Perfil</span>
                </a>
              </li>
              <li>
                <a href="./carrinho/">
                  <img
                    src="./assets/images/svg/header//myCar.svg"
                    alt="Ícone da opção meu carrinho"
                  />
                  <span>Meu Carrinho</span>
                </a>
              </li>
              <li>
                <a href="./login/">
                  <img
                    src="./assets/images/svg/header/logout.svg"
                    alt="Ícone da opção sair da conta"
                  />
                  <span>Sair da Conta</span>
                </a>
              </li>
            </ul>
            <button><a href="./login/">Entrar</a></button>
          </div>
        </details>
      </div>

      <div class="bottom">
        <button
          aria-expanded="false"
          aria-label="Abrir menu"
          class="openMenu"
          onclick="menu()"
        >
          <img
            src="./assets/images/svg/header/openMenu.svg"
            alt="Ícone de abrir o menu"
          />
          <span>Todos</span>
        </button>

        <ul>
          <li><a href="./categoria/">Fios e Cabos</a></li>
          <li><a href="./categoria/">Iluminação</a></li>
          <li><a href="./categoria/">Segurança</a></li>
          <li><a href="./categoria/">Tomadas e Interruptores</a></li>
          <li><a href="./categoria/">Tubos e Conexões</a></li>
          <li><a href="./categoria/">Ferramentas e Ferragens</a></li>
        </ul>
      </div>
    </div>

    <div class="drawer">
      <div class="categories">
        <ul>
          <li><a href="./categoria/">Fios e Cabos</a></li>
          <li><a href="./categoria/">Iluminação</a></li>
          <li><a href="./categoria/">Segurança</a></li>
          <li><a href="./categoria/">Tomadas e Interruptores</a></li>
          <li><a href="./categoria/">Tubos e Conexões</a></li>
          <li><a href="./categoria/">Ferramentas e Ferragens</a></li>
        </ul>
      </div>
      <button
        aria-expanded="true"
        aria-label="Fechar menu"
        class="closeMenu"
        onclick="menu()"
      >
        <img
          src="./assets/images/svg/header/closeMenu.svg"
          alt="Ícone de fechar o menu"
        />
      </button>
    </div>
  </header>